.loginForm {
  background-color: #968ee9;
  background-image: linear-gradient(315deg, #6b66a5 0%, #7e7eea 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.loginForm .LoginShadow {
  background-color: rgb(242, 197, 197);
  border-radius: 12px;
  width: 600px;
  padding: 50px 80px;
}
.loginForm .LoginShadow div .InputField input {
  background-color: rgb(231, 238, 241);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  margin-top: 20px;
  font-size: 14px;
}
.loginForm .LoginShadow div .InputField input:focus {
  outline: none;
}
.loginForm .LoginShadow div .submitBtn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  margin-top: 20px;
  color: whitesmoke;
  background-color: rgb(141, 39, 39);
}